.cricket_data{
    display: flex;
}
.players_container{
    width: 70%;
}

.cart_container{
    border: 1px solid cyan;
    border-radius: 20px;
    background-color: antiquewhite;
    height: 400px;
    width: 30%;
    margin: 10px;
    padding: 5px;
    text-align: left;
}